* {
    box-sizing: border-box;
}

.container {
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    color: black;
    font-weight: bold;
    letter-spacing: 0.3rem;
    word-spacing: 3px;
    margin: 0;
    font-size: 6rem;
    font-family: 'Comforter', cursive;
}

.container p {
    color: black;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 1.2rem;
}

.head-content .container {
    background-image: linear-gradient(
        rgba(204, 152, 57, 0.7),rgba(5, 11, 32, 0.7)),url("/IE104_PROJECT/image/sapa-contact-us.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.head-content .container h1 {
    color: white;
}

.head-content .container p {
    color: white;
}

li a .login-img {
    display: flex;
    border: 2px solid rgb(32, 29, 29);
    border-radius: 50%;
    text-align: center;
    padding: 2px;
}

.img-sign {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgb(41, 35, 35);
}

main .usr-blog-content{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* main .usr-blog-content section.blog-nav {
    position: sticky;
    top: 0;
} */

/* main .usr-blog-content .blog-nav .avatar-container {
    margin-left: 1.2rem;
} */

main .usr-blog-content section.blog-nav {
    margin-left: 2.5rem;
}

main .usr-blog-content .blog-nav .usr-name {
    margin-top: 1rem;
    text-align: center;
    font-size: 24px;
    /*color: rgb(168, 116, 18);*/
    font-weight: bold;
    color: rgb(153, 8, 8);
    font-family: 'Outfit', sans-serif;

}

main .usr-blog-content .blog-nav .avatar-container {
    position: relative;
    max-width: 300xp;
    display: block;
    width: 100%;
}

main .usr-blog-content .blog-nav .avatar-container .usr-avatar {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: auto;
}

main .usr-blog-content .blog-nav .avatar-container .change-avatar {
    position: absolute;
    bottom: 0; 
    background: rgba(85, 82, 82, 0.5); 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 18px;
    padding: 8px;
    text-align: center;
}

main .usr-blog-content .blog-nav .avatar-container:hover .change-avatar {
    opacity: 1;
}

main .usr-blog-content .blog-nav .contact-icon {
    text-align: center;
    font-size: 30px;
    margin-top: 22px;
}

.mybtn {
    background-color: rgb(168, 116, 18);
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 22px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
    font-weight: bold;
}

.mybtn:hover {
    opacity: 0.7;
}
  
main .usr-blog-content .usr-list-post .usr-post .usr-post-title {
    display: block;
    position: relative;
    width: 100%;
    line-height: 1.4rem;
    margin: 10px 0 6px 4px;
}

main .usr-blog-content .usr-list-post .usr-post .usr-post-image img {
    width: 100%;
    height: 10rem;
    display: block;
    margin-bottom: 0.8rem;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.usr-post-title a{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(153, 8, 8);
    font-family: 'Outfit', sans-serif;
}

main .usr-blog-content .usr-list-post .usr-post .usr-post-title p{
    
    margin-top: 10px;
    font-size: 14px;
}

main .usr-blog-content .usr-list-post .usr-post{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 3%;
}

main .usr-blog-content .usr-list-post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin: 0 2rem 6rem 5rem;
}



/* main .usr-blog-content .usr-list-post .edit-btn, .del-btn {
    border: none;
    color: rgb(90, 90, 241);
    text-align: right;
    font-size: 18px;
    position: relative;
    margin-top: 2rem;
    margin-left: 6px;
} 

main .usr-blog-content .usr-list-post .del-btn {
    margin-left: 14rem;
} */

@media only screen and (max-width: 1200px){
    main .usr-blog-content .usr-list-post {
         grid-template-columns: 2fr 2fr;
    }
}

@media only screen and (max-width: 820px){
    main .usr-blog-content {
        grid-template-columns: 35% 65%;
   }
    main .usr-blog-content .usr-list-post {
        grid-template-columns: 100%;
   }
}

@media only screen and (max-width: 590px){
    main .usr-blog-content {
        grid-template-columns: 100%;
   }
}

.modal-container {
    width: 50%;
    margin: auto;
    text-align: left;
}

.modal-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(153, 8, 8);
    font-family: 'Outfit', sans-serif;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.fomr-group, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
}

.fomr-group, input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
}

.fomr-group, label {
    font-weight: bold;
    font-size: 16px;
}

.fomr-group, textarea {
    width: 100%;
    height: 5rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
  
.fomr-group {
    width: 50%;
    margin: auto;
    display: block;
    height: 50px;
}

.modal-btn {
    background-color: rgb(168, 116, 18);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    margin-top: 22px;
    cursor: pointer;
    font-weight: bold;
}
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 1rem; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
 
/* Modal Content */
.modal-content {
    background-color: #f2f2f2;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 40%;
}
 
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
 
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}