
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

/* Header */
/* Navigation bar */

.narbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: black;
    background-color: #d6d3d3;
    width: 100%;
    padding: 10px;
}

.blog-title {
    margin-left: 24px;
    font-family: 'Chakra Petch', sans-serif;
    color: black;
    font-size: 30px;
}

.narbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.narbar-links li {
    list-style: none;
    margin-left: 2px;
}

.narbar-links li a {
    text-decoration: none;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: large; 
    color: black; 
}

.logo {
    cursor: pointer;
}

.logIn {
    display: flex;
    border: 2px solid rgb(32, 29, 29);
    border-radius: 20px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 12px;
    text-align: center;
}

/*Dropdown navbar*/

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(163, 159, 159);
}
  
li.dropdown {
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/*Responsive navbar*/
.toggle-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: none;
    flex-direction: column;
    justify-content:space-around;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 960px){
    .navbarlink {
        font-size: 20px;
    }

    .narbar-links li a{
        padding: 12px;
    }

    .logIn {
        border-radius: 24px;
        padding: 7px 7px 0px 0px;
        margin-top: 0;
        text-align: center;
    }
}

@media (max-width: 790px) {
    .toggle-button {
        display: flex;
    }

    .narbar-links {
        display: none;
    }

    .narbar {
        flex-direction: column;
        align-items: flex-start
    }

    .narbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .narbar-links li{
        text-align: center;
    }

    .narbar-links li a{
        padding: 16px;
    }

    .narbar-links.active {
        display: flex;
    }

    .logIn {
        border-radius: 20px;
        margin-left: 16px;
        width: 90px;
        height: 60px;
        text-align: center;
    }
} 

/* Footer */
footer {
    width: 100%;
    height: 25%;
    margin: auto;
    padding: 30px 0;
    text-align: center;
    background-color: black;
}

footer h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

footer q,
footer p {
    font-weight: 400;
    color: white;
}

.icons {
    background-color: black;
}

.fa {
    background-color: black;
    color: white;
    margin: 0 5px;
    cursor: pointer;
    transition: 1s;
    padding: 18px 0;
}

.fa:hover {
    color: brown;
}

footer .move-up {
    position: absolute;
    right: 6%;
    font-size: 2rem;
}

footer .move-up span {
    color: brown;
}

footer .move-up span:hover {
    color: wheat;
    cursor: pointer;
}
/*-------------------Footer-----------------*/
