a {
    text-decoration: none;
}

a:hover {
    color: rgb(204, 33, 33);
}
  /* wall */
.wall .text-content{
    min-height: 70vh;
    width: 100%;
    position: relative;
    /* padding-top: 18%; */
    background-image: linear-gradient(
        rgba(204, 152, 57, 0.7),rgba(5, 11, 32, 0.7)),url("https://i.pinimg.com/originals/8b/dd/46/8bdd462db1ecd0a26b475e2bea0c5eab.jpg");
    background-position: center;
    background-size: cover;
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.wall .text-content h1{
    /* position: absolute;
    left: 50%;
    transform:translateX(-50%);
    text-align: center; */
    color: white;
    letter-spacing: 0.3rem;
    word-spacing: 3px;
    margin: 0;
    font-size: 6rem;
    font-family: 'Comforter', cursive;
    font-weight: bold;
}

.donate-thanks{
    text-align: center;
    margin: 5% 5% 10% 5%;
/*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 */}

/* .donate-thanks .img-donate{
    height: 32%;
    width: 32%;
    border-radius: 4px;
} */

.donate-thanks .thanks-text h1{
    color: rgb(168, 116, 18);
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4%;
    font-weight: bold;

}

.donate-thanks .thanks-text p{
    margin-top: 2%;
    font-size: 20px;
    line-height: 29px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.donate-purpose {
    margin-bottom: 10%;
}

.donate-purpose .card-text{
    font-size: 20px;
}

.donate-purpose h1{
    color: rgb(168, 116, 18);
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4%;
    font-weight: bold;

}

.donate-method{
    display: grid;
    align-content: center;
    text-align: center;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 2%;
    margin: 10% 20% 5% 20%;
}
.donate-method .method-text,.method-icon{
    font-size: 20px;
    font-family:sans-serif;
    font-style: normal;
    line-height: 24px;
}
.donate-method .method-text:hover{
    color: brown;
}

  