
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

p, q, ol, ul, h3, h4, h5, h6 {
    line-height: 30px;
}

::placeholder {
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 15px;
}

.container {
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .container h1 {
    color: black;
    font-weight: bold;
    letter-spacing: 0.3rem;
    word-spacing: 3px;
    margin: 0;
    font-size: 4rem;
} */

/* .container p {
    color: black;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 16px;
} */

/* Head */
.head-content .container {
    background-image: linear-gradient(
        rgba(204, 152, 57, 0.7),rgba(5, 11, 32, 0.7)),url("/IE104_PROJECT/image/sapa-contact-us.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
/* 
.head-content h1 {
    color: white;
    text-align: center;
    justify-content: center;
} */

.head-content .container h1 {
    color: white;
    letter-spacing: 0.3rem;
    word-spacing: 3px;
    margin: 0;
    font-size: 6rem;
    font-family: 'Comforter', cursive;
    text-align: center;
    justify-content: center;
}

/* End Header */

/* Main Content */
.main-content {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.info {
    display: flex;
    align-items: center;
}

.post-owner {
    align-items: center;
    margin-left: 20px;
}

.info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

.info .post-owner h2 {
    color: rgb(153, 8, 8);
    font-family: 'Outfit', sans-serif;
}

.info .post-owner p {
    color: black;
}

.detail {
    text-align: justify;
}

.detail-content h3 {
    color: rgb(153, 8, 8);
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.detail p {
    letter-spacing: 1.2px;
    word-spacing: 0.5px;
}

.detail-content q {
    font-family: 'M PLUS 2', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    word-spacing: 0.5px;
}

.summary p {
    letter-spacing: 1.2px;
    word-spacing: 0.5px;
}


/* Photo */
.photos {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    margin: auto;

}

.photos .head-photo {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 50%; 
    flex: 50%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%; 
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    object-fit: cover;
}

.column img:hover {
    opacity: 1;
    transition: scale(1.1,1.1);
}

.btn {
    width: 60px;
    height: 50px;
    margin-top: 20px;
    border: 0px solid;
    padding: 0.7rem 1.5rem;
    background-color: rgb(168,116,18,0.7);
    font-family: 'M PLUS 2', sans-serif;
    text-align: center;
    justify-content: center;
    text-transform: none;
    color: rgb(153,8,8);
    font-weight: bolder;
    font-size: 17px;
    transition: 1;
}

.btn:hover {
    height: 55px;
    margin: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(255, 225, 185, 0.2), 0 6px 20px 0 rgba(255, 225, 185, 0.2);
}

.btn.active {
    background-color: rgb(168,116,18);
}

/* Img modal */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    /* display: block; */
    width: 80%;
    max-width: 700px;
  }

.modal img {
    height: 520px;
    width: 100%;
    object-fit: cover;
    margin-left: 20rem;
}
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    /* height: 150px; */
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
/* End img modal */

/* End Photo */

/* Comment */
.comment-act, .comment {
    width: 50%;
    max-width: 700px;
    margin: auto;
}

.comment-act {
    margin-top: 40px;
}

.container h2{
    font-family: 'M PLUS 2', sans-serif; 
    font-weight: bolder;
    font-size: 20px;
}

.container .comment-act .add-comment .info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

.add-comment {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.add-comment .info {
    width: 20%;
    justify-content: center;
}

.add-comment form .add-cmt {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.container .comment-act form .add-cmt input[type="text"] {
    border: none;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-bottom: 2px solid gray;
    text-align: center;
}

.container .comment-act button {
    background-color: rgb(168,116,18,0.7);
    float: right;
    width: 120px;
    height: 50px;
    margin-right: 20px;
    text-align: center;
    justify-content: center;
    text-transform: none;
    color: rgb(153,8,8);
    font-weight: bolder;
    font-size: 17px;
    transition: 1s;
}

.container .comment-act button:hover {
    box-shadow: 0 4px 8px 0 rgba(255, 225, 185, 0.2), 0 6px 20px 0 rgba(255, 225, 185, 0.2);
    height: 55px;
    background-color: rgb(168,116,18);
}


.comment .info .post-owner {
    width: 80%;
    float: right;
}

.container .comment .info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

.comment .detail {
    width: 80%;
    float: right;
}

.comment .info .post-owner h2 {
    font-size: 1.5rem;
} 

/* End Comment */

/* Pagination flex-row */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pagination {
    justify-content: center;
    color: rgba(0,0,0,0.2);
    margin: 4rem 0;
}

.pagination a {
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0.3rem;
    color: gray;
}

.pagination .pages {
    background: grey;
    color: white;
}

.pagination ul {
    list-style-type:none;
}

/* Pagination flex-row */

/* Interaction */
.interaction {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.interaction textarea {
    border-radius: 5px;
    border-color: rgb(63, 63, 63);
    border-width: 1px;
    font-size: 15px;
    color: darkgray;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.interaction .info-comment input {
    border-radius: 5px;
    border-color: rgb(63, 63, 63);
    border-width: 1px;
    font-size: 15px;
    color: darkgray;
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.interaction .save-info {
    display: inline-flex;
}

.interaction .save-info input {
    margin-top: 10px;
    margin-right: 20px;
    height: 50px;
}

.interaction input[type=submit] {
    display: inline-block;
    background-color: rgb(177, 192, 187);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    width: 200px;
    height: 50px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.interaction input[type=submit]:hover {
    background-color: rgb(255, 225, 185);
    width: 210px;
    height: 55px;
    margin: 10px 0;
    box-shadow: 0 4px 8px 0 rgba(255, 225, 185, 0.2), 0 6px 20px 0 rgba(255, 225, 185, 0.2);
    font-size: 2.2rem;
}

/* End Main Content */

@media only screen and (max-width: 1000px) {
    .photos {
        width: 100%;
    }
    /* Comment */
    .comment-act, .comment {
        width: 90%;
    }

    .comment-act .add-comment .info,
    .comment-act form .add-cmt {
        width: 100%;
        justify-content: center;
        margin: auto;
    }
        
    .add-comment {
        flex-direction: column;
    }
    
    .container .comment-act form input[type=text] {
        margin-top: 10px;
        width: 100%;
    }

    /* .comment-act .btn-cmt {
         width: 100%; 
    } */
        
    .comment .detail {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    /* End Comment */
}
