
/*--------------------Main Site Section------------*/

/*------------------Blog Carousel------------------*/
/*Slideshow*/

.slideshow-container {
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

.slides {
    display: none;
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
    width: auto;
    margin-top: -70px;
}

.prev:hover, .next:hover {
    color: #5d5f61;
}

.prev:active, .next:active, .prev:visited, .next:visited {
    color: white;
}

.next {
    right: 0;
}

.dotbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50% ;
    background-color: #bbb;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/* .nameImg {
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 20px;
    top: 40%;
    left: 10%;
    z-index: 1;
}

.nameImg h1 {
    color:rgb(252, 249, 249);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 28px;
    width: 100%;
}

.nameImg p {
    font-weight: bold;
    font-size: 18px;
} */

/*Reponsive carousel*/

@media (max-width: 860px) {
    .dotbox {
        display: none;
    }
    .centered {
        top: 50%
    }
    .intro .centered h1 {
        font-size: 25px;
    }
    .intro .centered p {
        margin-top: 6px;
        font-size: 12px;
    }
}

@media (max-width: 700px) {
    .dotbox {
        display: none;
    }
    .intro {
        text-align: left;
    }
    .intro .centered h1 {
        font-size: 16px;
    }
    .intro .centered p {
        margin-top: 0;
        font-size: 10px;
        line-height: 1px;
    }
}


@media (max-width: 400px) {
    .dotbox {
        display: none;
    }
    .dot {
    width: 13px;
    height: 13px;
    margin: 0 6px;
    }
}
/*------------------Blog Carousel------------------*/

.intro {
    position: relative;
    text-align: center;
}

.intro .centered h1 {
    color: rgb(168, 116, 18);
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
}

.intro .centered p {
    margin-top: 2rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 600;
}

.intro img {
    width: 100%;
}

.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------------------Site Content-------------------*/
body {
    /* background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen; */
    background-color: #ffffff;
}
main .site-content {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 2rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

main .post-content {
    width: 100%;
    margin-bottom: 5rem;
    padding: -10px;
}

main .site-content .post-content > .post-image, .post-title {
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info {
    border: 0px solid ;
    background-color:rgb(255, 255, 255);
    padding: 0.3rem; 
    position: absolute;
    bottom: 2%;
    left: 20vw;
    border-radius: 3rem;
}

main .site-content .post-content > .post-image > div {
    overflow: hidden;
}

main .site-content .post-content > .post-image .img-p {
    width: 100%;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .img-p:hover {
    transform: scale(1.2);
}

main .site-content .post-content > .post-image .post-info span {
    margin: 0.5rem;
    font-family: 'Outfit', sans-serif;
    text-transform: none;
    font-size: 16px;
}

main .site-container .site-content .posts .post-content .post-image img {
    height: 370px;
    width: 100%;
    overflow: hidden;
    border: 3px solid rgb(168, 116, 18);
    object-fit: cover;
}

main .site-container .site-content .posts .post-content .post-title .place {
    color: rgb(168, 116, 18);
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    word-spacing: 1px;
    font-size: 1rem;
    letter-spacing: 1px;
}

main .post-content .post-title .post-cont {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    word-spacing: 1px;
    color: rgb(153, 8, 8);
    font-family: 'Outfit', sans-serif;
}

main .post-content .post-title p {
    margin-top: 0.6rem;
    line-height: 22px;
    font-size: 15px;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}

main .site-content .post-content .post-title .post-btn {
    margin-top: 20px;
    border: 0px solid;
    padding: .7rem 1.5rem;
    background-color: rgb(168, 116, 18);
    font-family: 'M PLUS 2', sans-serif;
    text-transform: none;
    color: rgb(153, 8, 8);
    font-weight: bolder;
}

hr {
    margin-top: -68px;
}

main .site-content .pagination {
    justify-content: center;
    color: rgba(0,0,0,0.2);
    margin: 4rem 0;
}

main .site-content .pagination a {
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0.3rem;
}

main .site-content .pagination .pages {
    background: grey;
    color: white;
}

main .sidebar {
    margin-left: 20px;
}

main .site-container .site-content .sidebar .popular-post .post-content .post-image img {
    height: 160px;
    width: 100%;
    overflow: hidden;
    border: 3px solid rgb(168, 116, 18);
    object-fit: cover;
}

main .site-content .sidebar .popular-post h1 {
    margin-top: 0.5rem;
    margin-left: 24px;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    color: rgb(168, 116, 18);
}

main .site-content .sidebar .popular-post .post-content {
    padding: 1rem 0;
}

main .site-container .site-content .sidebar .popular-post .post-content .post-info {
    padding: .2rem .1rem !important;
    bottom: 0rem !important;
    left: 1.7rem !important;
    border-radius: 0rem !important;
    background: cornsilk !important;
}
main .site-container .site-content .sidebar .popular-post .post-content .post-info span {
    font-size: 15px;
}

main .site-container .site-content .sidebar .popular-post .post-title .place {
    color: rgb(168, 116, 18);
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    word-spacing: 1px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

main .site-content .sidebar .popular-post .post-title a{
    font-size: 1rem;
}

main .site-content .sidebar .popular-tag {
    padding: 4rem 0;
    margin-left: 24px;
}

main .site-content .sidebar .popular-tag h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    color: rgb(168, 116, 18);
}

.site-content .sidebar .popular-tag .tags .tag {
    background: #81BEF7;
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .6rem .6rem;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: bolder;
}


/*------------------Site Content-------------------*/

/*------------------Gallery Image------------------*/

main .site-content .sidebar .gallery-image {
    margin-left: 24px;
    margin-bottom: 2rem;
}
main .site-content .sidebar .gallery-image h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    color: rgb(168, 116, 18);
}

main .site-content .sidebar .gallery-image .gallery-container {
    width: 100%;
    margin: auto; 
    margin-top: 1.5rem;
  }
  
main .site-content .sidebar .gallery-image .gallery-container .gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(13, 5vw);
    grid-gap: 0.2rem; 
}
  
main .site-content .sidebar .gallery-image .gallery-container .gallery .ga-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
}

.item3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 7;
}

.item4 {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 7;
}

.item5 {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item6 {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 7;
}

.item7 {
    grid-row-start: 9;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 5;
}

.item8 {
    grid-row-start: 9;
    grid-row-end: 12;
    grid-column-start: 5;
    grid-column-end: 7;
}

.item9 {
    grid-row-start: 12;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 7;
}

.site-content .sidebar .imgmodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 4rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.603);
}

.site-content .sidebar .imgmodal .imgmodal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    max-width: 1200px;
  }

.site-content .sidebar .imgmodal .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.site-content .sidebar .imgmodal .imgmodal-content .slider {
    display: none;
}
  
.site-content .sidebar .imgmodal .imgmodal-content .cursor {
    cursor: pointer;
}

.prev-ga,
.next-ga {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next-ga {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev-ga:hover,
.next-ga:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.site-content .sidebar .imgmodal .imgmodal-content .slider .numbertext {
    color: #f2f2f2;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.site-content .sidebar .imgmodal .imgmodal-content .slider .caption-container {
    text-align: center;
    background-color: rgb(153, 8, 8);
    padding: 8px 16px;
    color: white;
    font-size: 11px;
}

/*------------------Gallery Image------------------*/

/*--------------------Main Site Section------------*/


@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info {
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }
    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }
}

@media only screen and (max-width: 750px){
    main .site-content {
         grid-template-columns: 100%;
    } 
}

@media only screen and (max-width: 520px){
    main .site-content .post-content > .post-image .post-info {
        display: none;
    }
}